@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fafbfc;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
  }

  :root:has(.no-scroll) {
    overflow: hidden;
  }
  .navLink {
    @apply relative px-2 py-4 text-secondary  transition duration-300 hover:text-primary;
  }
  .navLink.active {
    @apply text-primary;
  }
  .navLink.active::before {
    @apply absolute inset-x-0 bottom-0 h-[0.2rem] w-full rounded-lg bg-primary  content-[''];
  }

  .button {
    @apply w-full rounded-2xl border bg-accent px-4 py-2 text-sm text-white transition duration-300;
  }
  .button.active {
    @apply border-elements bg-white text-accent;
  }

  .button-like {
    @apply rounded-full border border-secondary p-2 text-center shadow-sm duration-300 hover:border-primary;
  }

  .button-select-color {
    @apply h-8 w-8  rounded-full border border-elements ring-1 ring-elements ring-offset-1 transition duration-200;
  }

  .main-container {
    @apply mx-auto max-w-screen-xl p-4;
  }
}
